.user-section {
    display: flex;
    flex-direction: column;
    padding: 20px;

    div {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;

        label {
            font-size: .8em;
            color: #505050;
        }
    }
}
